{% extends 'base.html' %}

{% block body %}
<center>
<form method="POST">{% csrf_token %}
    <h2><b>DİKKAT!!!</b></h2>
    <h3>{{object.id }}
        {{ object.title }}
        {{ object.link }}
        kaydını tamamiyle silmek istediğinizden emin misiniz?</h3>
    <p>
        <input class="btn btn-danger" type="submit" value = "Evet, eminim!" />
        <a href="{% url 'home_view' %}" role="button" class="btn btn-secondary mb-1">Homepage</a>
        <a href="{% url 'bot_list' %}" role="button" class="btn btn-secondary">List of Bots</a>
    </p>
</form>
</center>
{% endblock %}
